stages:
  - migrate

liquibase_migrate:
  stage: migrate
  image: liquibase/liquibase:5.0

  services:
    - name: postgres:16
      alias: postgres

  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

  before_script:
    # Mostrar contexto (debug friendly)
    - echo "Working directory inicial:"
    - pwd
    - ls -la

    # Forzar working directory correcto
    - cd docker/liquibase

    - echo "Working directory Liquibase:"
    - pwd
    - ls -la
    - ls -la changelog

  script:
    - liquibase --version
    - liquibase update
