stages:
  - migrate

liquibase_migrate:
  stage: migrate
  image: liquibase/liquibase:5.0

  services:
    - name: postgres:16
      alias: postgres

  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

    LIQUIBASE_CLASSPATH: /workspace/drivers/postgresql.jar

  before_script:
    - mkdir -p /workspace/drivers
    - curl -L -o /workspace/drivers/postgresql.jar https://jdbc.postgresql.org/download/postgresql-42.7.8.jar

  script:
    - liquibase --version
    - liquibase --defaultsFile=docker/liquibase/liquibase.properties update

