stages:
  - migrate

liquibase_migrate:
  stage: migrate
  image: liquibase/liquibase:5.0

  services:
    - name: postgres:16
      alias: postgres

  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

  script:
    - liquibase --version
    - liquibase --defaultsFile=docker/liquibase/liquibase.properties update

