stages:
  - migrate

liquibase_migrate:
  stage: migrate
  image: liquibase/liquibase:5.0

  services:
    - name: postgres:16
      alias: postgres
      variables:
        POSTGRES_PASSWORD: 142857
        POSTGRES_DB: elecciones
        POSTGRES_USER: postgres

  variables:
    LIQUIBASE_CLASSPATH: "$CI_PROJECT_DIR/drivers/postgresql.jar"

  before_script:
    # Driver JDBC
    - mkdir -p "$CI_PROJECT_DIR/drivers"
    - curl -L -o "$CI_PROJECT_DIR/drivers/postgresql.jar" https://jdbc.postgresql.org/download/postgresql-42.7.8.jar

    # Esperar a que Postgres acepte conexiones
    - |
        echo "Waiting for Postgres..."
        until bash -c "</dev/tcp/postgres/5432"; do
          sleep 1
        done
        echo "Postgres is up"

  script:
    - liquibase --version
    - liquibase --log-level=info --defaultsFile=docker/liquibase/liquibase.properties status
    - liquibase --defaultsFile=docker/liquibase/liquibase.properties update
